{% for episode in episodes %}
	<p>
    episode :
    <a href="{{ path('program_episode_show' , { slug: episode.season.program.title , seasonId: episode.season.id , episodeId: episode.id} ) }}} ">
    {{ episode.number }}
    </a>
	</p>
{% endfor %}