{% for episode in episodes %}
	<p>
    episode :
    <a href="{{ path('program_episode_show' , { programId: episode.season.program.id , seasonId: episode.season.id , episodeId: episode.id} ) }}} ">
    {{ episode.number }}
    </a>
	</p>
{% endfor %}